
form{
    width:65%;
}
body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    background: url("/style/img/ocean2.jpg") no-repeat;
    background-size: 100%;
}

.mainField {
    width: 100%;
    border-radius: 20px;
    max-width: 450px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.messageField {
    width: 100%;
    border-radius: 20px;
    max-width: 450px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notification {
    position: fixed;
    z-index: 1000;
    padding: 5px;
    border: 1px solid black;
    font: normal 20px Georgia;
    background: white;
    text-align: center;
}
.back{
    border-radius: 10px!important;
}
.welcome {
    background: red;
    color: yellow;
}

fieldset {
    border: none;
    width: 95%;

}

input {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border-color: #fff;
    color: #fff;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Arial, Helvetica, sans-serif
}
.rad{
    border-radius: 10px!important;
}